version: "3.8"

services:
    db:
        image: mariadb:10.3.8
        container_name: medpro_db
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: rootpassword
            MYSQL_DATABASE: wordpress
            MYSQL_USER: wordpress
            MYSQL_PASSWORD: wordpress
            MYSQL_RANDOM_ROOT_PASSWORD: "no"
        volumes:
            - db_data:/var/lib/mysql
            - ./db_init:/docker-entrypoint-initdb.d 
        command:
            [
                "mysqld",
                "--character-set-server=utf8mb4",
                "--collation-server=utf8mb4_unicode_ci",
            ]

    wordpress:
        image: wordpress:6.8.3-php8.3-apache
        container_name: medpro_wp
        restart: always
        depends_on:
            - db
        ports:
            - "80:80"
        environment:
            WORDPRESS_DB_HOST: db:3306
            WORDPRESS_DB_USER: wordpress
            WORDPRESS_DB_PASSWORD: wordpress
            WORDPRESS_DB_NAME: wordpress
            WORDPRESS_TABLE_PREFIX: wp_

            # Включаем debug
            WORDPRESS_DEBUG: 1
            WORDPRESS_DEBUG_LOG: 1
            WORDPRESS_DEBUG_DISPLAY: 1

            PHP_DISPLAY_ERRORS: "On"
            PHP_ERROR_REPORTING: "E_ALL"

            WORDPRESS_CONFIG_EXTRA: |
                define('WP_DEBUG', true);
                define('WP_DEBUG_LOG', true);
                define('WP_DEBUG_DISPLAY', true);
                define('SCRIPT_DEBUG', true);
                define('SAVEQUERIES', true);
                define('WP_CACHE', false);
                define('WP_MEMORY_LIMIT', '256M');
                define('WP_MAX_MEMORY_LIMIT', '512M');
                define('AUTOMATIC_UPDATER_DISABLED', true);
                define('WP_AUTO_UPDATE_CORE', false);
                define('WP_DISABLE_FATAL_ERROR_HANDLER', true);

        volumes:
            - ./uploads:/var/www/html/wp-content/uploads
            - ./plugins:/var/www/html/wp-content/plugins
            - ./themes:/var/www/html/wp-content/themes
            - ./logs:/var/www/html/wp-content/debug.log
            - wordpress_data:/var/www/html
            - ./php.ini:/usr/local/etc/php/conf.d/custom-php.ini:ro

volumes:
    db_data:
    wordpress_data:
